@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --bg-hero1: url("/images/heroSection1.png"); */
  /* --bg-hero1: url(`${process.env.NODE_ENV === 'production' ? '/Digital-Agency-Company' : ''}/images/heroSection1.png`); */
  --bg-abstractDesign: url("/images/abstractDesign.png");
  /* --bg-abstractDesign: url(`${process.env.NODE_ENV === 'production' ? '/Digital-Agency-Company' : ''}/images/abstractDesign.png`); */
  --bg-abstractService: url("/images/abstractService.png");
  /* --bg-abstractService: url(`${process.env.NODE_ENV === 'production' ? '/Digital-Agency-Company' : ''}/images/abstractService.png`); */
  --bg-abstractAbout: url("/images/abstractAbout.png");
  /* --bg-abstractAbout: url(`${process.env.NODE_ENV === 'production' ? '/Digital-Agency-Company' : ''}/images/abstractAbout.png`); */
  --bg-SquareUp1: url("/images/work/ChicBoutique.jpg");
  /* --bg-SquareUp1: url(`${process.env.NODE_ENV === 'production' ? '/Digital-Agency-Company' : ''}/images/work/ChicBoutique.jpg`); */
  --bg-SquareUp2: url("/images/work/HungryBites.jpg");
  /* --bg-SquareUp2: url(`${process.env.NODE_ENV === 'production' ? '/Digital-Agency-Company' : ''}/images/work/HungryBites.jpg`); */
  --bg-SquareUp3: url("/images/work/EventMasters.jpg");
  /* --bg-SquareUp3: url(`${process.env.NODE_ENV === 'production' ? '/Digital-Agency-Company' : ''}/images/work/EventMasters.jpg`); */
  --bg-SquareUp4: url("/images/work/ProTechSolutions.jpg");
  /* --bg-SquareUp4: url(`${process.env.NODE_ENV === 'production' ? '/Digital-Agency-Company' : ''}/images/work/ProTechSolutions.jpg`); */
  --bg-SquareUp5: url("/images/work/DreamHomesRealty.jpg");
  /* --bg-SquareUp5: url(`${process.env.NODE_ENV === 'production' ? '/Digital-Agency-Company' : ''}/images/work/DreamHomesRealty.jpg`); */
  --bg-SquareUp6: url("/images/work/FitLifeTracker.jpg");
  /* --bg-SquareUp6: url(`${process.env.NODE_ENV === 'production' ? '/Digital-Agency-Company' : ''}/images/work/FitLifeTracker.jpg`); */
  --bg-SquareUp7: url("/images/work/GlobalLogisticsSolutions.jpg");
  /* --bg-SquareUp7: url(`${process.env.NODE_ENV === 'production' ? '/Digital-Agency-Company' : ''}/images/work/GlobalLogisticsSolutions.jpg`); */
  --bg-SquareUp8: url("/images/work/EduConnect.jpg");
  /* --bg-SquareUp8: url(`${process.env.NODE_ENV === 'production' ? '/Digital-Agency-Company' : ''}/images/work/EduConnect.jpg`); */
  --bg-SquareUp9: url("/images/work/WanderWise.jpg");
  /* --bg-SquareUp9: url(`${process.env.NODE_ENV === 'production' ? '/Digital-Agency-Company' : ''}/images/work/WanderWise.jpg`); */
  --bg-SquareUp10: url("/images/work/ConnectCRM.jpg");
  /* --bg-SquareUp10: url(`${process.env.NODE_ENV === 'production' ? '/Digital-Agency-Company' : ''}/images/work/ConnectCRM.jpg`); */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grey1: #242424D1;
  --color-grey10: #1A1A1A;
  --color-grey15: #262626;
  --color-grey20: #333333;
  --color-green50: #9EFF00;
  --color-green80: #D8FF99;
  --bg-hero1: var(--bg-hero1);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
